/* Background gradient for entire sheet */
.qv-panel-sheet {
    background: linear-gradient(180deg, #98cce0 0%, #57b0d1 100%);
}

/* General filter container styles */
.MuiGrid-root.MuiGrid-container {
    border: 1px solid #deefff !important;
    color: #004b68 !important;
}

/* Filter column layout styling */
.MuiGrid-container.MuiGrid-direction-xs-column {
    border: 2px solid #deefff !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#deefff 70%, #a1c5d8 100%) !important;
    color: #004b68 !important;
    border-radius: 4px;
}

/* Chart and KPI container styling */
.qv-object-container {
    background-color: rgba(224, 240, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.65);
    padding: 0px 2px 5px 2px;
    margin: 0px 2px 10px 2px;
}

/* Visualization objects inside containers */
.qv-object-container .qv-object,
.qv-object-pivot-table,
.qv-object-barchart,
.qv-object-linechart,
.qv-object-table,
.qv-object-combochart,
.qv-object-piechart {
    background-color: rgba(224, 240, 255, 1);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.65);
    margin: 0px 2px 10px 2px;
}

/* Titles of visualizations */
.qv-object-container .qv-object-title-text,
.qv-object-pivot-table .qv-object-title-text,
.qv-object-barchart .qv-object-title-text,
.qv-object-linechart .qv-object-title-text,
.qv-object-table .qv-object-title-text,
.qv-object-combochart .qv-object-title-text,
.qv-object-piechart .qv-object-title-text {
    width: 100%;
    border-radius: 7px;
    background-color: rgba(39, 125, 150, 1);
    padding: 5px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 5px 2px 0px 2px;
}

/* Bars inside visualizations */
.qv-object-container .qv-object .bar,
.qv-object-pivot-table .bar,
.qv-object-barchart .bar,
.qv-object-linechart .bar,
.qv-object-table .bar,
.qv-object-content-container.bar,
.qv-object-combochart.bar,
.qv-object-piechart .bar {
    border-radius: 5px;
}

/* Tab row appearance */
.qsc-tab-row .lui-tab {
    color: #111 !important;
    cursor: pointer !important;
}

/* KPI styling */
.qv-object-kpi {
    background-color: rgba(145, 200, 220, 0);
    border-radius: 1px;
    padding: 5px;
    margin: 5px 0;
    color: white;
}
